body{
	margin:0px;
	padding: 0px;

}

div{
	margin:0px;
	padding: 0px;
}

#wrapper{
	position: relative;
	max-width: 900px;
	height: 100%;
	margin:0 auto;
}

/*-----------------------------------------------------
/Header
/-----------------------------------------------------*/

#header{
	position:relative;
	display: block;			
	width:100%; 
	height: 272px;
}
#header-img{
	position: relative;
}

#header-logo{
	position: absolute;
	margin:12px;
	border-radius: 5px;
	background-color: white;
	z-index: 1;
	float:left;
}
	
#header-pic{
	position: absolute;
	display: block;
	top:0px; 
	width: 100%;
	height:auto;
}

#nav-bar{
	position: absolute;
	bottom: 0px;
	height:100px;
	width:100%; 
	border-top: 4px solid #02134F;
}
	
	#nav-bar ul {
	    list-style-type: none;
	    text-align: center;
	    display: table;
	    height:100px;
	    width: 100%;
	    margin:0px;
	    padding:0px;
	}

		#nav-bar ul li {
			display: table-cell;
  			width: auto;
  			text-align: center;
  			
			height:100px;
			background-color:#0A237E;
			
		}

		#nav-bar ul li a {
			display:block;
			width:100%;
			height: 100%;
			text-decoration: none;
			padding-top:30px;
			font: 25px arial, sans-serif;
			color:white;
		}

		/* Change the link color to #111 (black) on hover */
		#nav-bar ul li a:hover {
			background-color: #2D4CBD;
			color:black;
		}

/*-----------------------------------------------------
/Content
/-----------------------------------------------------*/
#content{
	min-height:650px;
	width: 100%; 
	text-align: center;
	padding-left: 10px;
}

	.left-content{
		text-align: center;
		float:left;
		width:40%;
		height:100%;
		font:25px arial,sans-serif;
		font-weight: bold;
	}
		#news{
			margin:0 auto;
			margin-top: 20px;
			border:1px solid black;
			border-radius: 3px;
			width:100%;
			height:350px;
			overflow: scroll;
			overflow-x: hidden;
			padding-left: 10px;
			text-align: left;
			font-weight: normal;
			font-size:16px;
		}

			#news p{
				padding-bottom:5px;
				border-bottom:3px dotted #2D4CBD;
			}

	.right-content{
		float:left;
		width:60%;
		height:100%;
	}

		#slider{
			background:blue;
			margin:0 auto;
			margin-top:20px;
			width:80%;
			height:280px;
		}

/*-----------------------------------------------------
/Footer
/-----------------------------------------------------*/
#footer{
	position: fixed;
	bottom:0px;
	width:100%;
	height:120px;
	background-color:#02134F;
}

#footer div{
	width:900px;
	margin:0 auto;
	height:100%;
}

#footer div div{
	float:left;
	width:33%;
	text-align: center;
}

#footer div div p{
	color:white;
	font-size: 12px;
}